/vendor/
/node_modules/
/var/
/cache/
/logs/

.env
.env.local
.env.*.local

/.idea/
/.vscode/

.DS_Store
Thumbs.db
**/__pycache__/
*.pyc
backend/data/cache.db
backend/data/models/
backend/data/tennis_csv/